<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>EPL Guessing Game</title>
    </head>
    <div>
        <h1>Welcome to EPL Guessing Game. Try to guess the player of the day!</h1>
    </div>
        <table border="1" width="600px" style="margin: 0 auto;" align="left" >
        <caption style="caption-side:top">LEGEND</caption>
       		<tr>
            	<td>↓↓</td>
            	<td>the value is lower</td>
        	</tr>
        	<tr>
            	<td>↓</td>
            	<td>the value is lower, but within 3</td>
        	</tr>
        	<tr>
            	<td>↑↑</td>
            	<td>the value is higher</td>
        	</tr>
        	<tr>
            	<td>↑</td>
            	<td>the value is higher, but within 3</td>
        	</tr>
        	<tr>
            	<td>✓</td>
            	<td>the value is correct</td>
        	</tr>
        	<tr>
            	<td>X</td>
            	<td>the value is wrong</td>
        	</tr>
        	<tr>
            	<td>Team</td>
            	<td>↑ means a higher position in the live EPL table, ↓ is lower</td>
        	</tr>
    	    <tr>
            	<td>Country</td>
            	<td>partial correctness for the same FIFA Confederation</td>
        	</tr>
    	</table>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
        {% if "!" not in message  %}
            <form method="post" align="left">
                <label for="name" style="font-size=48px;"><p>{{ message }}<p></label>
                <!-- <input type="search" id="name" name="player_name" autofocus="true" placeholder="Search Player Name"> -->
                <input style="font-size:12pt;" list="players" name="player_name" id="player_name" placeholder="Player Name" autofocus="true" minlength="1">
                <button type="submit">Submit</button>
                <datalist id="players">
                    <option value="Zack Steffen">
                    <option value="Ederson">
                    <option value="Kyle Walker">
                    <option value="Ruben Dias">
                    <option value="John Stones">
                    <option value="Nathan Ake">
                    <option value="Oleksandr Zinchenko">
                    <option value="Aymeric Laporte">
                    <option value="Benjamin Mendy">
                    <option value="Joao Cancelo">
                    <option value="Ilkay Gundogan">
                    <option value="Rodri">
                    <option value="Kevin De Bruyne">
                    <option value="Bernardo Silva">
                    <option value="Fernandinho">
                    <option value="Phil Foden">
                    <option value="Raheem Sterling">
                    <option value="Gabriel Jesus">
                    <option value="Riyad Mahrez">
                    <option value="Scott Carson">
                    <option value="Jack Grealish">
                    <option value="Cole Palmer">
                    <option value="Cieran Slicker">
                    <option value="Romeo Lavia">
                    <option value="Luke Mbete">
                    <option value="Joshua Wilson-Esbrand">
                    <option value="Cj Egan-Riley">
                    <option value="James Mcatee">
                    <option value="Samuel Edozie">
                    <option value="Kayky">
                    <option value="Oscar Bobb">
                    <option value="Liam Delap">
                    <option value="Alisson">
                    <option value="Adrian">
                    <option value="Caoimhin Kelleher">
                    <option value="Virgil Van Dijk">
                    <option value="Joseph Gomez">
                    <option value="Konstantinos Tsimikas">
                    <option value="Andrew Robertson">
                    <option value="Joel Matip">
                    <option value="Trent Alexander-Arnold">
                    <option value="Fabinho">
                    <option value="Thiago">
                    <option value="James Milner">
                    <option value="Naby Keita">
                    <option value="Jordan Henderson">
                    <option value="Alex Oxlade-Chamberlain">
                    <option value="Curtis Jones">
                    <option value="Roberto Firmino">
                    <option value="Sadio Mane">
                    <option value="Mohamed Salah">
                    <option value="Diogo Jota">
                    <option value="Divock Origi">
                    <option value="Loris Karius">
                    <option value="Harvey Elliott">
                    <option value="Takumi Minamino">
                    <option value="Ibrahima Konate">
                    <option value="James Balagizi">
                    <option value="Tyler Morton">
                    <option value="Conor Bradley">
                    <option value="Kaide Gordon">
                    <option value="Marcelo Pitaluga">
                    <option value="Owen Beck">
                    <option value="Elijah Dixon-Bonner">
                    <option value="Harvey Blair">
                    <option value="James Norris">
                    <option value="Max Woltman">
                    <option value="Jarell Quansah">
                    <option value="Billy Koumetio">
                    <option value="Isaac Mabaya">
                    <option value="Melkamu Frauendorf">
                    <option value="Luis Diaz">
                    <option value="Harvey Davies">
                    <option value="Kepa Arrizabalaga">
                    <option value="Edouard Mendy">
                    <option value="Antonio Rudiger">
                    <option value="Marcos Alonso">
                    <option value="Andreas Christensen">
                    <option value="Thiago Silva">
                    <option value="Ben Chilwell">
                    <option value="Reece James">
                    <option value="Azpilicueta">
                    <option value="Jorginho">
                    <option value="N'Golo Kante">
                    <option value="Christian Pulisic">
                    <option value="Mateo Kovacic">
                    <option value="Mason Mount">
                    <option value="Hakim Ziyech">
                    <option value="Kai Havertz">
                    <option value="Timo Werner">
                    <option value="Callum Hudson-Odoi">
                    <option value="Ruben Loftus-Cheek">
                    <option value="Trevoh Chalobah">
                    <option value="Marcus Bettinelli">
                    <option value="Romelu Lukaku">
                    <option value="Lucas Bergstrom">
                    <option value="Saul Niguez">
                    <option value="Ross Barkley">
                    <option value="Malang Sarr">
                    <option value="Xavier Mbuyamba">
                    <option value="Teddy Sharman-Lowe">
                    <option value="Harvey Vale">
                    <option value="Xavier Simons">
                    <option value="Charlie Webster">
                    <option value="Lewis Hall">
                    <option value="Jude Soonsup-Bell">
                    <option value="Kenedy">
                    <option value="Dylan Williams">
                    <option value="Bernd Leno">
                    <option value="Arthur Okonkwo">
                    <option value="Kieran Tierney">
                    <option value="Gabriel Magalhaes">
                    <option value="Rob Holding">
                    <option value="Cedric Soares">
                    <option value="Bukayo Saka">
                    <option value="Thomas Partey">
                    <option value="Mohamed Elneny">
                    <option value="Emile Smith Rowe">
                    <option value="Granit Xhaka">
                    <option value="Alexandre Lacazette">
                    <option value="Nicolas Pepe">
                    <option value="Eddie Nketiah">
                    <option value="Gabriel Martinelli">
                    <option value="Nuno Tavares">
                    <option value="Albert Sambi Lokonga">
                    <option value="Benjamin White">
                    <option value="Martin Odegaard">
                    <option value="Aaron Ramsdale">
                    <option value="Takehiro Tomiyasu">
                    <option value="Salah-Eddine Oulad M'Hand">
                    <option value="Charlie Patino">
                    <option value="Omari Hutchinson">
                    <option value="Mika Biereth">
                    <option value="Zach Awe">
                    <option value="Zak Swanson">
                    <option value="Hugo Lloris">
                    <option value="Matt Doherty">
                    <option value="Sergio Reguilon">
                    <option value="Davinson Sanchez">
                    <option value="Joe Rodon">
                    <option value="Japhet Tanganga">
                    <option value="Ben Davies">
                    <option value="Pierre-Emile Hojbjerg">
                    <option value="Harry Winks">
                    <option value="Eric Dier">
                    <option value="Son Heung-Min">
                    <option value="Harry Kane">
                    <option value="Steven Bergwijn">
                    <option value="Lucas Moura">
                    <option value="Ryan Sessegnon">
                    <option value="Oliver Skipp">
                    <option value="Pierluigi Gollini">
                    <option value="Cristian Romero">
                    <option value="Dane Scarlett">
                    <option value="Brandon Austin">
                    <option value="Maksim Paskotsi">
                    <option value="Kallum Cesay">
                    <option value="Brooklyn Lyons-Foster">
                    <option value="Harvey White">
                    <option value="Matthew Craig">
                    <option value="Romaine Mundle">
                    <option value="Emerson Royal">
                    <option value="Tobi Omole">
                    <option value="Malachi Fagan-Walcott">
                    <option value="Michael Craig">
                    <option value="J'Neil Bennett">
                    <option value="Rodrigo Bentancur">
                    <option value="Dejan Kulusevski">
                    <option value="Alfie Devine">
                    <option value="David De Gea">
                    <option value="Dean Henderson">
                    <option value="Victor Lindelof">
                    <option value="Eric Bailly">
                    <option value="Phil Jones">
                    <option value="Harry Maguire">
                    <option value="Luke Shaw">
                    <option value="Alex Telles">
                    <option value="Aaron Wan-Bissaka">
                    <option value="Paul Pogba">
                    <option value="Fred">
                    <option value="Bruno Fernandes">
                    <option value="Nemanja Matic">
                    <option value="Scott Mctominay">
                    <option value="Hannibal Mejbri">
                    <option value="Edinson Cavani">
                    <option value="Marcus Rashford">
                    <option value="Mason Greenwood">
                    <option value="Anthony Elanga">
                    <option value="Shola Shoretire">
                    <option value="Diogo Dalot">
                    <option value="Jesse Lingard">
                    <option value="Juan Mata">
                    <option value="Tom Heaton">
                    <option value="Lee Grant">
                    <option value="Facundo Pellistri">
                    <option value="Jadon Sancho">
                    <option value="Raphael Varane">
                    <option value="Cristiano Ronaldo">
                    <option value="Bjorn Hardley">
                    <option value="Charlie Savage">
                    <option value="Zidane Iqbal">
                    <option value="Lukasz Fabianski">
                    <option value="David Martin">
                    <option value="Darren Randolph">
                    <option value="Aaron Cresswell">
                    <option value="Vladimir Coufal">
                    <option value="Angelo Ogbonna">
                    <option value="Issa Diop">
                    <option value="Ryan Fredericks">
                    <option value="Arthur Masuaku">
                    <option value="Manuel Lanzini">
                    <option value="Mark Noble">
                    <option value="Pablo Fornals">
                    <option value="Tomas Soucek">
                    <option value="Declan Rice">
                    <option value="Andriy Yarmolenko">
                    <option value="Said Benrahma">
                    <option value="Jarrod Bowen">
                    <option value="Michail Antonio">
                    <option value="Craig Dawson">
                    <option value="Alphonse Areola">
                    <option value="Jamal Baptiste">
                    <option value="Kurt Zouma">
                    <option value="Nikola Vlasic">
                    <option value="Alex Kral">
                    <option value="Ajibola Alese">
                    <option value="Ben Johnson">
                    <option value="Harrison Ashby">
                    <option value="Daniel Chesters">
                    <option value="Sonny Perkins">
                    <option value="Keenan Appiah-Forson">
                    <option value="Freddie Potts">
                    <option value="Emmanuel Longelo">
                    <option value="Kamarai Simon-Swyer">
                    <option value="Armstrong Oko-Flex">
                    <option value="Pierre Ekwah">
                    <option value="John Ruddy">
                    <option value="Ki-Jana Hoever">
                    <option value="Marcal">
                    <option value="Willy Boly">
                    <option value="Conor Coady">
                    <option value="Jonny">
                    <option value="Nelson Semedo">
                    <option value="Maximilian Kilman">
                    <option value="Ruben Neves">
                    <option value="Daniel Podence">
                    <option value="Romain Saiss">
                    <option value="Joao Moutinho">
                    <option value="Leander Dendoncker">
                    <option value="Pedro Neto">
                    <option value="Raul Jimenez">
                    <option value="Fabio Silva">
                    <option value="Yerson Mosquera">
                    <option value="Trincao">
                    <option value="Rayan Ait-Nouri">
                    <option value="Jose Sa">
                    <option value="Luke Cundle">
                    <option value="Chem Campbell">
                    <option value="Hwang Hee-Chan">
                    <option value="Hugo Bueno">
                    <option value="Dexter Lembikisa">
                    <option value="Toti">
                    <option value="Chiquinho">
                    <option value="Emiliano Martinez">
                    <option value="Matthew Cash">
                    <option value="Ezri Konsa">
                    <option value="Tyrone Mings">
                    <option value="Kortney Hause">
                    <option value="Douglas Luiz">
                    <option value="John Mcginn">
                    <option value="Marvelous Nakamba">
                    <option value="Morgan Sanson">
                    <option value="Jacob Ramsey">
                    <option value="Ollie Watkins">
                    <option value="Bertrand Traore">
                    <option value="Emiliano Buendia">
                    <option value="Ashley Young">
                    <option value="Leon Bailey">
                    <option value="Danny Ings">
                    <option value="Carney Chukwuemeka">
                    <option value="Viljami Sinisalo">
                    <option value="Sil Swinkels">
                    <option value="Lamare Bogarde">
                    <option value="Hayden Lindley">
                    <option value="Tim Iroegbunam">
                    <option value="Josh Feeney">
                    <option value="Philippe Coutinho">
                    <option value="Lucas Digne">
                    <option value="Robin Olsen">
                    <option value="Calum Chambers">
                    <option value="Benjamin Chrisene">
                    <option value="Tommi O'Reilly">
                    <option value="Kasper Schmeichel">
                    <option value="Danny Ward">
                    <option value="Eldin Jakupovic">
                    <option value="James Justin">
                    <option value="Wesley Fofana">
                    <option value="Caglar Soyuncu">
                    <option value="Jonny Evans">
                    <option value="Daniel Amartey">
                    <option value="Ricardo Pereira">
                    <option value="Timothy Castagne">
                    <option value="Luke Thomas">
                    <option value="Youri Tielemans">
                    <option value="James Maddison">
                    <option value="Marc Albrighton">
                    <option value="Harvey Barnes">
                    <option value="Hamza Choudhury">
                    <option value="Nampalys Mendy">
                    <option value="Wilfred Ndidi">
                    <option value="Jamie Vardy">
                    <option value="Kelechi Iheanacho">
                    <option value="Ayoze Perez">
                    <option value="Patson Daka">
                    <option value="Boubakary Soumare">
                    <option value="Ryan Bertrand">
                    <option value="Kiernan Dewsbury-Hall">
                    <option value="Jannik Vestergaard">
                    <option value="Ben Nelson">
                    <option value="Thanawat Suengchitthawon">
                    <option value="Ademola Lookman">
                    <option value="Wanya Marcal-Madivadua">
                    <option value="Oliver Ewing">
                    <option value="Lewis Brunt">
                    <option value="Sammy Braybrooke">
                    <option value="Will Alves">
                    <option value="Chituru Odunze">
                    <option value="Alex Mccarthy">
                    <option value="Harry Lewis">
                    <option value="Fraser Forster">
                    <option value="Kyle Walker-Peters">
                    <option value="Jack Stephens">
                    <option value="Mohammed Salisu">
                    <option value="Jan Bednarek">
                    <option value="Oriol Romeu">
                    <option value="James Ward-Prowse">
                    <option value="Nathan Redmond">
                    <option value="Moussa Djenepo">
                    <option value="Stuart Armstrong">
                    <option value="William Smallbone">
                    <option value="Nathan Tella">
                    <option value="Ibrahima Diallo">
                    <option value="Che Adams">
                    <option value="Yan Valery">
                    <option value="Mohamed Elyounoussi">
                    <option value="Shane Long">
                    <option value="Theo Walcott">
                    <option value="Romain Perraud">
                    <option value="Valentino Livramento">
                    <option value="Armando Broja">
                    <option value="Adam Armstrong">
                    <option value="Thierry Small">
                    <option value="Lyanco">
                    <option value="Willy Caballero">
                    <option value="Kgaogelo Chauke">
                    <option value="Kazeem Olaigbe">
                    <option value="Jack Butland">
                    <option value="Vicente Guaita">
                    <option value="Joel Ward">
                    <option value="James Tomkins">
                    <option value="Nathaniel Clyne">
                    <option value="Tyrick Mitchell">
                    <option value="Martin Kelly">
                    <option value="Nathan Ferguson">
                    <option value="Luka Milivojevic">
                    <option value="Cheikhou Kouyate">
                    <option value="Jeffrey Schlupp">
                    <option value="James Mcarthur">
                    <option value="Eberechi Eze">
                    <option value="Jairo Riedewald">
                    <option value="Jordan Ayew">
                    <option value="Wilfried Zaha">
                    <option value="Christian Benteke">
                    <option value="Michael Olise">
                    <option value="Marc Guehi">
                    <option value="Joachim Andersen">
                    <option value="Conor Gallagher">
                    <option value="Remi Matthews">
                    <option value="Reece Hannam">
                    <option value="Jesurun Rak-Sakyi">
                    <option value="Scott Banks">
                    <option value="Will Hughes">
                    <option value="Odsonne Edouard">
                    <option value="Jack Wells-Morrison">
                    <option value="Jean-Philippe Mateta">
                    <option value="Omotayo Adaramola">
                    <option value="Jason Steele">
                    <option value="Robert Sanchez">
                    <option value="Tariq Lamptey">
                    <option value="Adam Webster">
                    <option value="Lewis Dunk">
                    <option value="Joel Veltman">
                    <option value="Yves Bissouma">
                    <option value="Alexis Mac Allister">
                    <option value="Pascal Gross">
                    <option value="Adam Lallana">
                    <option value="Jakub Moder">
                    <option value="Steven Alzate">
                    <option value="Solly March">
                    <option value="Neal Maupay">
                    <option value="Leandro Trossard">
                    <option value="Danny Welbeck">
                    <option value="Shane Duffy">
                    <option value="Enock Mwepu">
                    <option value="Haydon Roberts">
                    <option value="James Furlong">
                    <option value="Marc Leonard">
                    <option value="Evan Ferguson">
                    <option value="Odeluga Offiah">
                    <option value="Antef Tsoungui">
                    <option value="Andrew Moran">
                    <option value="Thomas Mcgill">
                    <option value="Marc Cucurella">
                    <option value="Tudor Baluta">
                    <option value="Ed Turns">
                    <option value="Jeremy Sarmiento">
                    <option value="Lars Dendoncker">
                    <option value="Moises Caicedo">
                    <option value="Kjell Scherpen">
                    <option value="Martin Dubravka">
                    <option value="Karl Darlow">
                    <option value="Mark Gillespie">
                    <option value="Daniel Langley">
                    <option value="Ciaran Clark">
                    <option value="Paul Dummett">
                    <option value="Fabian Schar">
                    <option value="Jamaal Lascelles">
                    <option value="Jamal Lewis">
                    <option value="Emil Krafth">
                    <option value="Federico Fernandez">
                    <option value="Javier Manquillo">
                    <option value="Jonjo Shelvey">
                    <option value="Matt Ritchie">
                    <option value="Isaac Hayden">
                    <option value="Ryan Fraser">
                    <option value="Jacob Murphy">
                    <option value="Miguel Almiron">
                    <option value="Sean Longstaff">
                    <option value="Joelinton">
                    <option value="Allan Saint-Maximin">
                    <option value="Dwight Gayle">
                    <option value="Callum Wilson">
                    <option value="Joseph Willock">
                    <option value="Kieran Trippier">
                    <option value="Chris Wood">
                    <option value="Bruno Guimaraes">
                    <option value="Matt Targett">
                    <option value="Dan Burn">
                    <option value="Lucas De Bolle">
                    <option value="David Raya">
                    <option value="Rico Henry">
                    <option value="Ethan Pinnock">
                    <option value="Pontus Jansson">
                    <option value="Mads Bech Sorensen">
                    <option value="Mads Roerslev">
                    <option value="Christian Norgaard">
                    <option value="Mathias Jensen">
                    <option value="Josh Dasilva">
                    <option value="Bryan Mbeumo">
                    <option value="Tariqe Fosu-Henry">
                    <option value="Shandon Baptiste">
                    <option value="Vitaly Janelt">
                    <option value="Sergi Canos">
                    <option value="Ivan Toney">
                    <option value="Saman Ghoddos">
                    <option value="Julian Jeanvier">
                    <option value="Finley Stevens">
                    <option value="Lewis Gordon">
                    <option value="Maxwell Haygarth">
                    <option value="Kristoffer Ajer">
                    <option value="Frank Onyeka">
                    <option value="Myles Peart-Harris">
                    <option value="Yoane Wissa">
                    <option value="Alvaro Fernandez">
                    <option value="Zanka">
                    <option value="Paris Maghoma">
                    <option value="Matthew Cox">
                    <option value="Daniel Oyegoke">
                    <option value="Nathan Young-Coombes">
                    <option value="Patrik Gunnarsson">
                    <option value="Jonas Lossl">
                    <option value="Christian Eriksen">
                    <option value="Illan Meslier">
                    <option value="Luke Ayling">
                    <option value="Robin Koch">
                    <option value="Liam Cooper">
                    <option value="Diego Llorente">
                    <option value="Pascal Struijk">
                    <option value="Adam Forshaw">
                    <option value="Stuart Dallas">
                    <option value="Kalvin Phillips">
                    <option value="Mateusz Klich">
                    <option value="Jamie Shackleton">
                    <option value="Patrick Bamford">
                    <option value="Tyler Roberts">
                    <option value="Raphinha">
                    <option value="Rodrigo">
                    <option value="Laurens De Bock">
                    <option value="Jack Harrison">
                    <option value="Junior Firpo">
                    <option value="Kristoffer Klaesson">
                    <option value="Crysencio Summerville">
                    <option value="Sam Greenwood">
                    <option value="Charlie Cresswell">
                    <option value="Joe Gelhardt">
                    <option value="Liam Mccarron">
                    <option value="Daniel James">
                    <option value="Stuart Mckinstry">
                    <option value="Leo Fuhr Hjelde">
                    <option value="Lewis Bate">
                    <option value="Jack Jenkins">
                    <option value="Kris Moore">
                    <option value="Nohan Kenneh">
                    <option value="Archie Gray">
                    <option value="Jordan Pickford">
                    <option value="Mason Holgate">
                    <option value="Michael Keane">
                    <option value="Yerry Mina">
                    <option value="Ben Godfrey">
                    <option value="Seamus Coleman">
                    <option value="Allan">
                    <option value="Fabian Delph">
                    <option value="Abdoulaye Doucoure">
                    <option value="Andre Gomes">
                    <option value="Tom Davies">
                    <option value="Richarlison">
                    <option value="Dominic Calvert-Lewin">
                    <option value="Alexander Iwobi">
                    <option value="Jonjoe Kenny">
                    <option value="Jarrad Branthwaite">
                    <option value="Cenk Tosun">
                    <option value="Andros Townsend">
                    <option value="Asmir Begovic">
                    <option value="Demarai Gray">
                    <option value="Anthony Gordon">
                    <option value="Andy Lonergan">
                    <option value="Salomon Rondon">
                    <option value="Lewis Dobbin">
                    <option value="Charlie Whitaker">
                    <option value="Harry Tyrer">
                    <option value="Reece Welch">
                    <option value="Tyler Onyango">
                    <option value="Vitalii Mykolenko">
                    <option value="Nathan Patterson">
                    <option value="Anwar El Ghazi">
                    <option value="Donny Van De Beek">
                    <option value="Dele Alli">
                    <option value="Ryan Astley">
                    <option value="Isaac Price">
                    <option value="Ben Foster">
                    <option value="Daniel Bachmann">
                    <option value="Robert Elliot">
                    <option value="Jeremy Ngakia">
                    <option value="William Troost-Ekong">
                    <option value="Adam Masina">
                    <option value="Craig Cathcart">
                    <option value="Kiko Femenia">
                    <option value="Christian Kabasele">
                    <option value="Francisco Sierralta">
                    <option value="Tom Cleverley">
                    <option value="Ken Sema">
                    <option value="Dan Gosling">
                    <option value="Joao Pedro">
                    <option value="Ismaila Sarr">
                    <option value="Imran Louza">
                    <option value="Emmanuel Dennis">
                    <option value="Ignacio Pussetto">
                    <option value="Danny Rose">
                    <option value="Peter Etebo">
                    <option value="Joshua King">
                    <option value="Kwadwo Baah">
                    <option value="Cucho Hernandez">
                    <option value="Juraj Kucka">
                    <option value="Moussa Sissoko">
                    <option value="James Morris">
                    <option value="Nicolas Nkoulou">
                    <option value="Vincent Angelini">
                    <option value="Hassane Kamara">
                    <option value="Samir">
                    <option value="Edo Kayembe">
                    <option value="Derek Agyakwa">
                    <option value="Samuel Kalu">
                    <option value="Nick Pope">
                    <option value="Will Norris">
                    <option value="Matthew Lowton">
                    <option value="Charlie Taylor">
                    <option value="James Tarkowski">
                    <option value="Ben Mee">
                    <option value="Erik Pieters">
                    <option value="Phil Bardsley">
                    <option value="Kevin Long">
                    <option value="Jack Cork">
                    <option value="Johann Gudmundsson">
                    <option value="Josh Brownhill">
                    <option value="Dwight Mcneil">
                    <option value="Dale Stephens">
                    <option value="Ashley Westwood">
                    <option value="Ashley Barnes">
                    <option value="Jay Rodriguez">
                    <option value="Matej Vydra">
                    <option value="Nathan Collins">
                    <option value="Wayne Hennessey">
                    <option value="Bobby Thomas">
                    <option value="Lewis Richardson">
                    <option value="Owen Dodgson">
                    <option value="Aaron Lennon">
                    <option value="Maxwel Cornet">
                    <option value="Connor Roberts">
                    <option value="Mark Helm">
                    <option value="Joseph Mcglynn">
                    <option value="Wout Weghorst">
                    <option value="Sam Waller">
                    <option value="Tim Krul">
                    <option value="Michael Mcgovern">
                    <option value="Max Aarons">
                    <option value="Sam Byram">
                    <option value="Grant Hanley">
                    <option value="Christoph Zimmermann">
                    <option value="Andrew Omobamidele">
                    <option value="Lukas Rupp">
                    <option value="Kieran Dowell">
                    <option value="Przemyslaw Placheta">
                    <option value="Jacob Sorensen">
                    <option value="Kenny Mclean">
                    <option value="Teemu Pukki">
                    <option value="Adam Idah">
                    <option value="Milot Rashica">
                    <option value="Angus Gunn">
                    <option value="Ben Gibson">
                    <option value="Dimitris Giannoulis">
                    <option value="Billy Gilmour">
                    <option value="Pierre Lees-Melou">
                    <option value="Joshua Sargent">
                    <option value="Christos Tzolis">
                    <option value="Brandon Williams">
                    <option value="Mathias Normann">
                    <option value="Ozan Kabak">
                    <option value="Jonathan Tomkinson">
                    <option value="Jonathan Rowe">
                    <option value="Jon Mccracken">
                    <option value="Liam Gibbs">
                </datalist>
            </form>
        {% else %}
        <h2>{{ message }}</h2>
        {% endif %}

    </div>
   
    <div>
        {% block content %}{% endblock %}
    </div>
</html>