<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>EPL Guessing Game</title>
    </head>
    <div>
        <h1>Welcome to EPL Guessing Game. Try to guess the player of the day!</h1>
    </div>
    <div>
        <table border="1" width="600px" style="margin: 0 auto;" align="left" >
        <caption style="caption-side:top">LEGEND</caption>
       		<tr>
            	<td>↓↓</td>
            	<td>the value is lower</td>
        	</tr>
        	<tr>
            	<td>↓</td>
            	<td>the value is lower, but within 3</td>
        	</tr>
        	<tr>
            	<td>↑↑</td>
            	<td>the value is higher</td>
        	</tr>
        	<tr>
            	<td>↑</td>
            	<td>the value is higher, but within 3</td>
        	</tr>
        	<tr>
            	<td>✓</td>
            	<td>the value is correct</td>
        	</tr>
        	<tr>
            	<td>X</td>
            	<td>the value is wrong</td>
        	</tr>
        	<tr>
            	<td>Team</td>
            	<td>Live EPL Standings</td>
        	</tr>
    	    <tr>
            	<td>Country</td>
            	<td>FIFA Confederation partial correctness</td>
        	</tr>
    	</table>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
        <form method="post" align="left">
            <label for="name" style="font-size=48px;"><h2>{{ message }}</h2></label>
            <input type="name" id="name" name="player_name" required />
            <button type="submit">Enter Name</button>
        </form>
    </div>
   
    <div>
        {% block content %}{% endblock %}
    </div>
</html>